html, body {
  padding: 0;
  margin: 0;
  background-color: $color-background;
  font-family: 'friz';
  text-align: center;
  color: white;
  overflow: visible;
  height: 100%;
}

body {
  overflow-y: scroll;
}

img {
  width: 100%;
  border-radius: $dim-input-radius * 1.5;
  box-shadow: 0 0 1em black;
  margin: 0 0;
}
