body {
  background: url('../images/background.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button {
  font-weight:800;
  display: absolute;
  margin: auto;
  border-radius: $dim-input-radius;
  background-color: $color-button-background;
  padding-top: $dim-input-padding;
  padding-left: $dim-input-padding * 4;
  padding-right: $dim-input-padding * 4;
  padding-bottom: $dim-input-padding;
  margin: 0 0.1em;
  text-decoration: none;
  display: inline-block;
  font-size: $dim-input-font-size;
  color: #d53500;
  border: $color-button-background-highlight solid 0.08em;
  text-shadow: 0 0 0.25em #ff0000;
  width: $dim-input-width;

  &:hover {
    color: #ff4f00;
    text-shadow: 0 0 0.55em #ff0000;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d31515+1,6b0408+100 */
    background: $color-button-background-highlight; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $color-button-background-highlight 1%,  $color-button-background 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  $color-button-background-highlight 1%, $color-button-background 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  $color-button-background-highlight 1%, $color-button-background 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31515', endColorstr='#6b0408',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  &:active {
    box-shadow: 0 0 2.5em #ff0000;
    color: #ff8532;
    border: #912000 solid 0.08em;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1919+1,960608+100 */
    background: #ff1919; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $color-button-background-vibrant 1%, $color-button-border-highlight 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  $color-button-background-vibrant 1%,$color-button-border-highlight 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  $color-button-background-vibrant 1%,$color-button-border-highlight 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#960608',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

.frame {
  margin-bottom: 0.5em;
  background-color:rgba(0.1, 0.1, 0.1, 0.5);
  display: inline-block;
  padding: 0.5em;
  border: $color-button-border solid 0.1em;
  border-radius: $dim-input-radius * 1.5;
}

.banner {
  height: 10em;
  width: 100%;
  padding-top: 10em;
  background: url('../images/logo.png') center center no-repeat;
}
.content {
  font-size: 1.2em;
  text-align: justify;
  padding: 0.5em 0.8em;
  width:39.9em;
  height: auto;
  line-height: 1.5em;
  display: block;
}
